
\.vs/MediatR-Example/v15/\.suo

\.vs/MediatR-Example/v15/Server/sqlite3/db\.lock

\.vs/MediatR-Example/v15/Server/sqlite3/storage\.ide

\.vs/MediatR-Example/v15/Server/sqlite3/storage\.ide-shm

\.vs/MediatR-Example/v15/Server/sqlite3/storage\.ide-wal


\.vs/MediatR-Example/v15/\.suo

\.vs/MediatR-Example/v15/Server/sqlite3/db\.lock

\.vs/MediatR-Example/v15/Server/sqlite3/storage\.ide

\.vs/MediatR-Example/v15/Server/sqlite3/storage\.ide-shm

\.vs/MediatR-Example/v15/Server/sqlite3/storage\.ide-wal

bin

debug

release

.pdf

.dll

obj